* {
  box-sizing: border-box;
  cursor: url('cursor.png'), auto;
}

body {
  margin:0px;
}

a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  color: white;
}

#menu {
  width: 50px;
  height: 50px;
  border: 4px solid black;
  border-radius: 15px;
  background: #D5FF21;
  top: 20px;
  left: 20px;
  position: fixed;
  font-family: degular;
  font-size: 2em;
  line-height: 2;
  z-index: 2;
}

#menu:hover {
  width: 250px;
  height: 360px;
}

.pages {
  opacity: 0%;
  padding: 15px;
}

.pages:hover {
  opacity: 100%;
  width: 250px;
  height: 350px;
}

.active {
  transform: translate(210px, 410px);
}

#logo {
  position: relative;
  left: 50%;
  top: 6vw;
  transform: translate(-50%, -50%);
}

#me {
  position: absolute;
  left: 30%;
  top: 20vw;
  transform: translate(-50%);
  border: 5px solid black;
  border-radius: 15px;
}

img::selection {
  background: none; /* WebKit/Blink Browsers */
}
img::-moz-selection {
  background: none; /* Gecko Browsers */
}

#design {
  position: absolute;
  left: 50%;
  top: 8vw;
  transform: translate(-50%);
}

#printmaking {
  position: absolute;
  left: 50%;
  top: 48vw;
  transform: translate(-50%);
}

#collaboration {
  position: absolute;
  left: 50%;
  top: 92vw;
  transform: translate(-50%);
}

#text1 {
  position: absolute;
  left: 50%;
  top: 30vw;
  transform: translate(-50%);
  z-index: 1;
  font-size: 3em;
  font-family: degular;
  opacity: 0%;
  background: #D5FF21;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: 4px solid black;
}

#text1:hover {
  opacity: 100%;
}

#text1::selection {
  background: none; /* WebKit/Blink Browsers */
}
#text1::-moz-selection {
  background: none; /* Gecko Browsers */
}

#text2 {
  position: absolute;
  left: 50%;
  top: 72vw;
  transform: translate(-50%);
  z-index: 1;
  font-size: 3em;
  font-family: degular;
  opacity: 0%;
  background: #D5FF21;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: 4px solid black;
}

#text2:hover {
  opacity: 100%;
}

#text2::selection {
  background: none; /* WebKit/Blink Browsers */
}
#text2::-moz-selection {
  background: none; /* Gecko Browsers */
}

#text3 {
  position: absolute;
  left: 50%;
  top: 113vw;
  transform: translate(-50%);
  z-index: 1;
  font-size: 3em;
  font-family: degular;
  opacity: 0%;
  background: #D5FF21;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: 4px solid black;
}

#text3:hover {
  opacity: 100%;
}

#text3::selection {
  background: none; /* WebKit/Blink Browsers */
}
#text3::-moz-selection {
  background: none; /* Gecko Browsers */
}

#amoris {
  position: absolute;
  left: 50%;
  top: 8vw;
  transform: translate(-50%);
}

#broadsheet {
  position: absolute;
  left: 50%;
  top: 56vw;
  transform: translate(-50%);
}

#home {
  position: absolute;
  left: 50%;
  top: 100vw;
  transform: translate(-50%);
}

#posters {
  position: absolute;
  left: 50%;
  top: 138vw;
  transform: translate(-50%);
  padding-bottom: 5vw;
}

#plants {
  position: absolute;
  left: 50%;
  top: 8vw;
  transform: translate(-50%);
}

#title {
  position: absolute;
  left: 50%;
  top: 56vw;
  transform: translate(-50%);
}

#objects {
  position: absolute;
  left: 50%;
  top: 100vw;
  transform: translate(-50%);
}

#burning {
  position: absolute;
  left: 50%;
  top: 144vw;
  transform: translate(-50%);
}

#mask {
  position: absolute;
  left: 50%;
  top: 188vw;
  transform: translate(-50%);
  padding-bottom: 5vw;
}

#tiy {
  position: absolute;
  left: 50%;
  top: 8vw;
  transform: translate(-50%);
}

#fluo {
  position: absolute;
  left: 50%;
  top: 58vw;
  transform: translate(-50%);
}

#pills {
  position: absolute;
  left: 50%;
  top: 98vw;
  transform: translate(-50%);
  padding-bottom: 5vw;
}

#bio {
  width: 35%;
  position: absolute;
  left: 65%;
  top: 20vw;
  transform: translate(-50%);
  border: 5px solid black;
  border-radius: 15px;
  padding: 15px;
  font-family: degular;
  font-size: 1.2em;
}

#bio::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
#bio::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}
