* {
  box-sizing: border-box;
}

body {
  margin:0px;
  font-family: degular;
  cursor: url('cursor.png'), auto;
}

a {
  color: black;
  cursor: url('cursor-link.png'), auto;
}

#menu a {
  padding: 5px;
  text-decoration: none;
}

.description a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #D5FF21;
  cursor: url('cursor-link.png'), auto;
}

.description2 a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #D5FF21;
  cursor: url('cursor-link.png'), auto;
}

.description3 a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #D5FF21;
  cursor: url('cursor-link.png'), auto;
}

a:hover {
  cursor: url('cursor-link.png'), auto;
}

#menu a:hover{
  color: white;
  cursor: url('cursor-link.png'), auto;
}

#bio a:hover{
  color: black;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #D5FF21;
  cursor: url('cursor-link.png'), auto;
}

/* Slideshow */

.slideshow-container {
  width: 60%;
  position: relative;
  margin: auto;
}

.slideshow-container2 {
  width: 45%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: url('cursor-link.png'), auto;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev2, .next2 {
  cursor: url('cursor-link.png'), auto;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(0,0,0,0.8);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next, .next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev::selection, .next::selection, .prev2::selection, .next2::selection {
  background: none; /* WebKit/Blink Browsers */
}
.prev::-moz-selection, .next::-moz-selection, .prev2::-moz-selection, .next2::-moz-selection {
  background: none; /* Gecko Browsers */
}

.prev2:hover, .next2:hover {
  color: white;
  background-color: rgba(0,0,0,0.8);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* contact form */
/* #contact {
  border: 5px solid black;
  border-radius: 15px;
  padding: 20px;
  width: 62%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: degular;
  font-size: 1.2em;
}

input[type=submit] {
  background-color: #D5FF21;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-family: degular;
  font-size: 1.2em;
}

input[type=submit]:hover {
  background-color: black;
  color: white;
}

label {
  font-family: degular;
  font-size: 1.2em;
} */
/* end of contact form */

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  margin-left: 5%;
  margin-right: 5%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  padding: 10px;
}

.content3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 10px;
}

.content4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 21%;
  font-family: degular;
  font-size: 1em;
  width: 55%;
}

.description2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 28%;
  font-family: degular;
  font-size: 1em;
  width: 40%;
}

.description3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 9%;
  font-family: degular;
  font-size: 1em;
  width: 60%;
}

.content span::selection {
  background: none; /* WebKit/Blink Browsers */
}
.content span::-moz-selection {
  background: none; /* Gecko Browsers */
}

.content span{
  display: none;
}

.content:hover span{
  display: block;
  position: absolute;
  z-index: 1;
  font-size: 3em;
  font-family: degular;
  background: #D5FF21;
  border-radius: 10px;
  border: 4px solid black;
  text-align: center;
  color: black;
  width: 400px;
}

#menu {
  width: 250px;
  height: 360px;
  border: 4px solid black;
  border-radius: 15px;
  background: #D5FF21;
  top: 20px;
  left: -500px;
  position: fixed;
  font-family: degular;
  font-size: 2em;
  line-height: 2;
  z-index: 2;
  padding: 15px;
}

#button {
    width: 50px;
    height: 50px;
    border: 4px solid black;
    border-radius: 15px;
    background: #D5FF21;
    top: 20px;
    left: 20px;
    position: fixed;
    z-index: 2;
}

.active {
  transform: translateX(520px);
}

#logo {
  position: relative;
  left: 50%;
  top: 6vw;
  transform: translate(-50%, -50%);
  margin-bottom: 60px;
}

#me {
  border: 5px solid black;
  border-radius: 15px;
}

img::selection {
  background: none; /* WebKit/Blink Browsers */
}
img::-moz-selection {
  background: none; /* Gecko Browsers */
}

#bio {
  border: 5px solid black;
  border-radius: 15px;
  padding: 15px;
  font-family: degular;
  font-size: 1.2em;
  width: 85%;
}

#bio::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
#bio::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

.description::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
.description::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

.description2::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
.description2::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

.description3::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
.description3::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

.description p::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
.description p::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

.description2 p::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
.description2 p::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

.description3 p::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
.description3 p::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

.description a::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
.description a::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

.description2 a::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
.description2 a::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

.description3 a::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
.description3 a::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

#menu a::selection {
  background: none; /* WebKit/Blink Browsers */
}
#menu a::-moz-selection {
  background: none; /* Gecko Browsers */
}

#menu br::selection {
  background: none; /* WebKit/Blink Browsers */
}
#menu br::-moz-selection {
  background: none; /* Gecko Browsers */
}

#bio a::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
#bio a::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

#bio br::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
#bio br::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

p::selection {
background: #D5FF21; /* WebKit/Blink Browsers */
}
p::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

#blurb::selection {
  background: #D5FF21; /* WebKit/Blink Browsers */
}
#blurb::-moz-selection {
  background: #D5FF21; /* Gecko Browsers */
}

br::selection {
  background: none; /* WebKit/Blink Browsers */
}
br::-moz-selection {
  background: none; /* Gecko Browsers */
}

#blurb {
  /* border: 5px solid #D5FF21; */
  background:  white;
  border-radius: 15px;
  padding: 15px;
  font-family: degular;
  font-size: 1.2em;
  width: 100%;
}
#outline {
  background: rgb(213,255,33);
  padding: 5px;
  width: 85%;
  border-radius: 18px;
  animation: gradient .6s infinite;
  animation-timing-function: linear;
}

#fpfc1 {
  margin-left: 35%;
}
#fpfc2 {
  margin-right: 35%;
}

@keyframes gradient {
  0% {
    background: linear-gradient(90deg, rgba(213,255,33,1) 0%, rgba(111,255,133,1) 100%);
  }
  25% {
    background: linear-gradient(90deg, rgba(111,255,133,1) 0%, rgba(0,255,241,1) 100%);
  }
  50% {
    background: linear-gradient(90deg, rgba(0,255,241,1) 0%, rgba(111,255,133,1) 100%);
  }
  75% {
    background: linear-gradient(90deg, rgba(111,255,133,1) 0%, rgba(213,255,33,1) 100%);
  }
}


@media screen and (max-width: 1000px) {
  img{
    width: 80%;
  }
  .wrapper2 {
    grid-template-columns: 1fr;
    margin-left: 0%;
    margin-right: 0%;
  }
  .content2 {
    justify-content: center;
  }
  .content3 {
    justify-content: center;
  }
  #fpfc1 {
    margin-left: 0%;
    width: 50%;
  }
  #fpfc2 {
    margin-right: 0%;
    width: 50%;
  }
  #me {
    width: 60%;
  }
  #logo {
    width: 50%;
    top:7vw;
    margin-bottom: 40px;
  }
  .content span{
    display: block;
    position: absolute;
    z-index: 1;
    font-size: 3em;
    font-family: degular;
    background: #D5FF21;
    border-radius: 10px;
    border: 4px solid black;
    text-align: center;
    color: black;
    width: 300px;
  }
  .content:hover span{
    width: 300px;
  }
  .slideshow-container {
    width: 80%;
  }
  .slideshow-container2 {
    width: 80%;
  }
  .description {
    margin-left: 12%;
    width: 75%;
  }
  .description2 {
    margin-left: 12%;
    width: 75%;
  }
  .description3 {
    margin-left: 12%;
    width: 75%;
  }
}


@media screen and (max-width: 800px) {
  img{
    width: 80%;
  }
  #me {
    width: 80%;
  }
  #logo {
    width: 60%;
    top: 9vw;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  img{
    width: 95%;
  }
  .slideshow-container {
    width: 95%;
  }
  .slideshow-container2 {
    width: 95%;
  }
  #hi {
    width: 100%;
  }
  #me {
    width: 95%;
  }
  #logo {
    width: 66%;
    top: 12vw;
    left: 55%;
    margin-bottom: 50px;
  }
  #bio {
    width: 95%;
  }
  #outline {
    width: 95%;
  }
  #contact{
    width: 72%;
  }
  #fpfc1 {
    width: 95%;
  }
  #fpfc2 {
    width: 95%;
  }
  .description {
    margin-left: 6%;
    width: 89%;
  }
  .description2 {
    margin-left: 6%;
    width: 89%;
  }
  .description3 {
    margin-left: 6%;
    width: 89%;
  }
}
